/* add your css styles here! */
#header {
    height: 500px;
    background-image: url("../imgs/header-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}